<h1>This is genre lists</h1>
<ul>
    <% genre.forEach(genres => { %>
    <li><%= genres.genre %> (Genre ID: <%= genres.genreid %>)</li>
    <% }) %>
    <form action="/genre/<%= genre.genreid %>? method=PUT" method="POST">
        <input type="text" name="genre" value="<%= genre.genre %>" required>
        <button type="submit">Edit genre</button>
    </form>
</ul>

<!-- i dont know what seems to be the unexpected token here
// but i think it is because of the way i am trying to use the forEach loop
// i am trying to use the forEach loop in a way that is not supported by ejs
// i should use the forEach loop in a way that is supported by ejs
    turns out i accidentally put equal sign b4 the forEach loop
-->

<h2>Add new Genre</h2>
<form action="/genre" method="POST">
    <label for="genre">Genre Name:</label>
    <input type="text" id="genre" name="genre" required>
    <button type = "submit">Add Genre</button>
</form>